header {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-image: linear-gradient(#f6f6f6 0%, white 45%);*/
    /*border-bottom: 2px solid #E9E9E6;*/
    /*border-top: 3px solid #EDEDED;*/
    /*border-radius: 0 0 10px 10px;*/
}
.background {
    background-color: #171a1d;
}
/*header > div {*/
/*    margin: 10px 15px;*/
/*}*/

.avatar {
    display: flex;
    flex-direction: row;
}

.dropdown-item {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    padding-left: 0;
    padding-right: 0;
}
.breadcrumb-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.required:after {
    content: " *";
    color: red;
}

.form-foto {
    color: #666;
    font-size: 12em;
}

#fieldReservista {
    display: none;
}

.fontAwesomeWidth {
    width: 16px;
}

.cardHeight {
    height: 200px;
}

.foto {
    width: 212px;
}
